@import url(https://fonts.googleapis.com/css?family=Aleo);

html,body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 3px;
}


/* element */
  

.name{
    margin: auto;
    
    
}
.let_space{
    letter-spacing: 3px;
}

.c_grid{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 2vmax;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
   
.grid{
    display: grid;
    grid-gap: 2vmax;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
    
}
.wrapper{
    margin:auto;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
  
   
.box2{
    grid-template-columns: 1fr 1fr;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
  
.box3{
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
} 

/* element */

.table_cont{
    overflow-x: scroll;
    width: 70vw;
}
.LockOn {
    display: block;
    visibility: visible;
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 105%;
    height: 105%;
    background-color:white;
    vertical-align:bottom;
    padding-top: 20%; 
    filter: alpha(opacity=75); 
    opacity: 0.75; 
    font-size:large;
    color:blue;
    font-style:italic;
    font-weight:400;
    background-image: url("../Common/loadingGIF.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
table {
    border-collapse: collapse;
    letter-spacing: 3px;
    /* width: 100%; */
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1vmax;
    width: fit-content;
}

form{
    margin: 2vmax 10vmax;
    padding:3vmax;
    border: 12px solid #515151;
    
    font-family: Courier New, monospace;
}

label{
    margin:auto;
    font-size: 22;
    font-family: Aleo;
    letter-spacing: 0.3;
}
 
input{
    padding:1vmax;
    font-size: 1.3vmax;
    border: 1px solid #dddddd;
    outline: none;
}

select{
    padding:1vmax;
    font-size: 1.3vmax;
    border: 1px solid #dddddd;
    outline: none;
    letter-spacing: 3px;
}

option{
    font-size: 1.5vmax;
    letter-spacing: 3px;
}
/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
.file_submit{
  margin-top: 1vmax;
  border: 1px solid #55acee;
  outline: none;
  background-color: #55acee;
  color: white;
  padding: 1vmax;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 0.3;
  font-family: Aleo;
}

.file_submit:hover{
  background-color: white;
  color: #55acee
}